@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.background{
    font-family: Montserrat, sans-serif;
    background-color: #D2D2D2;
}

.header{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #333333;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.circle{
    height: 4rem;
    width: 4rem;
    background-color: #ECF5E7;
    clip-path: circle(50%);
}

.main-table{
    margin-left:auto;
    margin-right:auto;
    margin-top: 4rem;

    width: 93%;
    background-color: white;
    
}

.main-table, th, td {
    border-collapse: collapse;
    padding: 0rem 3rem;
    text-align: left;
    height: 4rem;
}

.main-table tr:nth-child(even) {
    background-color: #ECF5E7;
}

.table-header{
    color: white;
    background-color: #333333;
    text-transform: uppercase;
}

.three-blocks{
    display: flex;
    justify-content: space-evenly;

}

.individual-block{
    margin: 3rem;
    height: 30rem;
    width: 20rem;
    background-color: #ECF5E7;
}

.block-header{
    height: 2rem;
    color: white;
    background-color: #333333;
    text-align: center;
    padding-top: 1rem;
    
}